.wrapper {
    width: 40%;
    margin: 0 auto;
}

.red {
    color: red;
}

.wrapper h2 {
    margin-bottom: 10px;
    text-align: center;
}
.wrapper a {
    text-decoration: none;
    color: #833AA9;
}

.form_filed label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form_filed input {
    display: block;
    width: 80%;
    padding: .2rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

.form_filed select {
    display: block;
    width: 85%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

.button {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid #833AE0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #833AE0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button:hover {
    opacity: 0.8;
    color: #ced4da;
    cursor: pointer;
}

.coin_form {
    display: flex;
}

.error {
    color: red;
}

.buttons button {
    margin-right: 20px;
}